.DS_Store
.sass-cache
assets/css/styles.css
assets/css/styles.css.map
assets/js/main.js
assets/js/main.js.map
assets/js/main.min.js
assets/js/main.min.js.map
node_modules/
bower_components/
.idea
_tempvlidation.html
validation-report.json
validation-status.json
