.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-magnifier { background-image: url('png/magnifier.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-vine { background-image: url('png/vine.png'); background-repeat: no-repeat; }

