// Icons
//
// We use grunticon to process SVG files. Grunticon provides a fallback for older browsers and browsers with javascript disabled. To make it work correctly javascript must be added to the head of the document. This swaps out linked SVG's and replaces them with embedded ones. These can then be styled and animated.
//
// Styleguide 3

[class^="icon-"] {
    background-size:contain;
    
    svg {
        height:100%;
        width:100%;
    }
}


// Twitter
//
// A series of social icons that we can use
//
// :hover - The hovered state
//
// Markup:
// <div class="icon-twitter {{modifier_class}}" data-grunticon-embed></div>
//
// Styleguide 3.1

.icon-twitter {
    width:40px;
    height:40px;
    transition: all 1s;

    path {
        transition: all 0.4s;
    }
    &:hover path {
        fill:#55acee;
    }
}


// Facebook
//
// A series of social icons that we can use
//
// :hover - The hovered state
//
// Markup:
// <div class="icon-facebook {{modifier_class}}" data-grunticon-embed></div>
//
// Styleguide 3.2

.icon-facebook {
    width:40px;
    height:40px;
    transition: all 1s;

    path {
        transition: all 0.4s;
    }
    &:hover path {
        fill:#3B5998;
    }
}


// Instagram
//
// A series of social icons that we can use
//
// :hover - The hovered state
//
// Markup:
// <div class="icon-instagram {{modifier_class}}" data-grunticon-embed></div>
//
// Styleguide 3.3

.icon-instagram {
    width:40px;
    height:40px;
    transition: all 1s;

    path {
        transition: all 0.4s;
    }
    &:hover path {
        fill:#3f729b;
    }
    &:hover {
        height:80px;
        width:80px;
    }
}


// Vine
//
// A series of social icons that we can use
//
// :hover - The hovered state
// .large - large version
//
// Markup:
// <div class="icon-vine {{modifier_class}}" data-grunticon-embed></div>
//
// Styleguide 3.4

.icon-vine {
    width:40px;
    height:40px;
    transition: all 1s;

    path {
        transition: all 0.4s;
    }
    &:hover path {
        fill:#3f729b;
    }
    &.large {
        height:80px;
        width:80px;
    }
}


// Magnifier
//
// Can be used for search
//
// Markup:
// <div class="icon-magnifier" data-grunticon-embed></div>
//
// Styleguide 3.5


.icon-magnifier {
    width:40px;
    height:40px;
    transition: all 1s;

    &:hover {
        width:80px;
        height:80px;
    }
}
