/* Base styles */

html {
    box-sizing:border-box;
    font-size:62.5%;
}
*, *:before, *:after {
    box-sizing:inherit;
}
body {
    background-color: #fff;
    color: #000;
    font-family: $primary-font;
    @include font-size(16);
    font-weight:300;
    line-height: 1.8em;
    -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font;
    text-transform: capitalize;
    line-height: 1em;
    clear:both;
}
h1 {
    @include font-size(38.42);
    font-weight: 700;
    margin-top:0.4em;
}
h2 {
    @include font-size(26);
    font-weight: 400;
}
h3 {
    @include font-size(23);
    font-weight: 700;
}
h4 {
    @include font-size(22);
    font-weight: 400;
}
h5 {
    @include font-size(17);
    font-weight: 700;
    text-transform: capitalize;
}
h6 {
    @include font-size(16);
    font-weight: 400;
    text-transform: capitalize;
}
p {
    font-weight: 300;
}
.alt-font {
    font-family: $secondary-font;
}
a {
    text-decoration: none;
}
a:hover {

}
a:focus {

}
button, .btn {
    display: inline-block;
    padding:12px 20px;
    margin: 1em 0;
    background-color:#0d0d0d;

    text-transform: uppercase;
    border:0;
    @include font-size(14);
    line-height: 1.8em;
    font-family: $secondary-font;

    &:hover {
        color: #fff;
    }
    &:focus {
        outline:none;

        color: #fff;
    }
}
.btn-alt {
    @include fallbackColor(#93591c, 0.95);

    &:hover {
        @include fallbackColor(#93591c, 1.0);
    }
}
.btn-down {
    position:relative;
    width:245px;
    padding-right:60px;
    text-align: left;

    &:after {
        content: "\2193";
        font-family: "castle-connections";
        color:inherit;
        position:absolute;
        top: 50%;
        margin-top: -12px;
        right: 18px;
        font-size: 24px; 
    }
}
img {
    max-width:100%;
}
ul {
    
}
ol {
    
}
li {
    margin-left:20px;
}
table {
    margin:20px 0;
    width:100%;
}
tr {
    
}
th,
table > tbody > tr:first-child > td {


    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    padding:10px;
}
table tfoot + tbody > tr:first-child > td {
    background-color:inherit;
    color:inherit;
}
td {

    padding:10px;
}
label {
    float:left;
    padding-right:10px;
    font-family:$secondary-font;
    font-weight:500;
    line-height: 32px;
    min-width: 140px;
    text-transform: uppercase;
    @include font-size(14);
}
input, textarea {

    margin-bottom:20px;
    padding:6px 10px;
    @include font-size(14);
    text-overflow: ellipsis;
}
textarea {
    max-width: 400px;
    width:100%;
}
select {
    margin-bottom:20px;
}
input[type="checkbox"] {
    &+ label {
        
    }
    &:checked + label {
    
    }
}
input[type="radio"] {
    &+ label {
        
    }
    &:checked + label {
    
    }
}
select {
    &+ label {
        
    }
    &:checked + label {
        
    }
}
address {

}
blockquote {
  position:relative;
  display:table; // This changes the block formattign context and allows for float wrapping
  text-align: center;
  padding:30px 0;
}
.cms {
  padding:15px;
  
  p {
    overflow: hidden;
  }
  
  img {
    width:100%;
    max-width:360px;
    padding:20px 0;
    margin-bottom:20px;
  }
  
  .align-left {
    float:left;
    margin:0 40px 0 0;
    padding:0;
  }
  
  .align-right {
    float:right;
    margin:0 0 0 60px;
    padding:0;
  }
  
  @include breakpoint(medium) {
    .align-left,
    .align-right {
      float:none;
      margin: 0 auto;
      display: block;
    }
  }
}
