// Colour Palette
//
// Primary and secondary colours are defined in settings/_colour-palette.scss. We use actual colour names to define the variables. This prevents ambiguation when naming e.g. $grey, $lightGrey, $lighterGrey.
//
// .fill-zeus       - Hex: 2a241d - this is a highlight
// .fill-supernova  - f1ca00
// .fill-customBlack - 000
//
// Markup:
// <span class="kss-color {{modifier_class}}"></span>
//
// Styleguide 1

$colorPalette: (
  customBlack: #000,
  customWhite: #fff,
  zeus: #2a241d,
  supernova: #f1ca00
);

@each $color in $colorPalette {
  .color-#{nth($color, 1)} {
    color: nth($color, 2);
  }
  .fill-#{nth($color, 1)} {
    background-color: nth($color, 2);
  }
}

@function color($key) {
  @if map-has-key($colorPalette, $key) {
    @return map-get($colorPalette, $key);
  }

  @warn "Unknown `#{$key}` in $colorPalette.";
  @return null;
}

// background-color: color(zeus);

.kss-color {
  display: inline-block;
  margin: 20px;
  height: 60px;
  width: 60px;
  transform: rotate(45deg);
}
