// Custom Mixins

@mixin font-size($sizeValue) {
 $remValue: ($sizeValue / 10);
 $pxValue: $sizeValue;
 font-size: $pxValue+px; 
 font-size: $remValue+rem;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// RGBA Fallback
@mixin fallbackColor($color, $opacity) {
  background-color:$color;
  background-color: rgba($color, $opacity);
}

@mixin pageWrap($width:1260px) {
  max-width: $width;
  width: 100%;
  margin: 0 auto;
}