// Colours
$black : #111111;
$white : #FFFFFF;
$darkgrey : #373737;
$grey : #AAAAAA;
$lightgrey : #EBEBEB;

$scorpion : #5A5858;
$zeus : #2a241d;
$supernova : #f1ca00;
$dune : #1f1d1b;
$buddhaGold : #cea503;
$armadillo : #3c352e;
$mercury : #e2e1e0;
$maiTai : #ab7104;

$menuBorder : #5e5e5e;
$darkBg : $dune;

/* Brand Colours */
$akaroa : #DAC5AB;
$rope : #93591c;
$facebook : #49639E;
$twitter : #00ACEE;

$highlight : $supernova;

$primary-font : "Merriweather", Georgia, serif;
$secondary-font : "HouschkaAltPro-Medium", Helvetica, Arial, sans-serif;
$secondary-font-bold : "HouschkaAltPro-ExtraBold", Helvetica, Arial, sans-serif;

// Images
$image : '../images/';

//Transitions
$basicTran : all 0.4s ease-in-out;
