// Hero
//
// Hero section. The image is not a link. We use Srcset to display appropriately sized images for smaller windows.
// If the browser does not support srcset we display the smallest image.
//
// Markup:
// <section class="hero">
//   <div class="hero__text">
//     <h1 class="hero__title">Example Hero Title Here</h1>
//     <p class="hero__summary">Proin ultricies ligula id sapien pulvinar sagittis. Integer augue urna, feugiat quis orci eget, laoreet rutrum enim</p>
//     <a href="http://www.example-website-link.com" class="hero__cta" title="Click here to find out more">Click here to find out more</a>
//   </div>
//   <img class="hero__image"
//     srcset="/images/TEMP/large.jpg 1280w,
//       /images/TEMP/medium.jpg 768w,
//       /images/TEMP/small.jpg 480w"
//     sizes="(min-width: 800px) 800px,
//       (min-width: 500px) 500px,
//       (min-width: 400px) 400px, 100vw"
//     src="/images/TEMP/original.jpg"
//     alt="Here is a nice image"
//  />
//</section>
//
// Styleguide 9

.hero {
  position: relative;

  &__text {
    position: absolute;
    bottom: 40px;
    left: 20px;
    z-index: 2;
    padding: 20px;
    color: #000;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-color: #fff;
      opacity: 0.6;
    }
  }
  &__title {
    color: inherit;
  }
  &__summary {
    color: inherit;
  }
  &__cta {
    color: inherit;
  }
  &__image {
    position: relative;
    z-index: 1;
    width: 100%;
  }
}
